.umi
.umi-production
**/src/umi
node_modules
dist
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
.prettierrc.json
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
CNAME
/modules
build
public
CHANGELOG.md
**/*.less.d.ts
packages/*/dist
packages/*/build
packages/*/public
packages/*/src/api/*/**/*
packages/gdcd/es
packages/gdcd/lib
packages/gdcd/dist
packages/gdcd/_site
packages/gdcd-pro/packages/*/es
packages/gdcd-pro/packages/*/lib
packages/gdcc/es
packages/gdcc/lib
packages/gdcb/es
packages/gdcb/lib

iconfont.js
